.container-p {
  width: 400px;
  margin: 15px auto;
}

.box {
  width: 250px;
  margin-right: 50px;
  float: left;
}

.button {
  margin-left: 250px;
}

button {
  padding: 2px 5px;
  margin-top: 12px;
}

.seccion {
  display: block;
  margin: 5px 0px;
}

fieldset {
  padding: 12px;
}

label {
  margin-left: 5px;
}

small {
  color: red;
  width: 40px;
}